<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Wiki Dog</title>
    <meta property="og:title" content="Wiki Dog" />
    <meta property="og:site_name" content="Wiki Dog" />
    <meta property="og:image" content="./assets/favicon.ico" />
    <meta httpEquiv="content-language" content="pt-br" />
    <meta name="keywords" content="wiki,cachorros,raças" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
        content="Pesquise as características do cachorro que você viu e encontraremos a raça dele!" />
    <meta name="author" content="Gabriel Medeiros e Erisvan Junior" />
    <meta property="og:type" content="article" />
    <meta property="og:description"
        content="Pesquise as características do cachorro que você viu e encontraremos a raça dele!" />
    <meta property="og:url" content="http://127.0.0.1:5500/" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../public/css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="../resources/views/index.blade.html">Wiki Dog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../resources/views/index.blade.html">Início</a></li>
                        <li class="nav-item"><a class="nav-link" href="buscar.blade.html">Buscar</a></li>
                        <li class="nav-item"><a class="nav-link" href="cadastrar.blade.html">Cadastrar</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-search"></i></div>
                        <h1 class="fw-bolder">Procurar cachorro</h1>
                        <p class="lead fw-normal text-muted mb-0">Nos conte características do cachorro para que possamos achá-lo. Aponte ao menos uma característica e traremos uma lista de raças que atendem ao padrão desejado.</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div id="contactForm">
                                <!-- Raça input-->
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="breed" placeholder="Raça (Campo autocomplete)">
                                    <label for="breed">Raça (Campo autocomplete)</label>
                                </div>
                                <!-- Origem input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="origem" type="text" placeholder="Origem (Qual o país do cachorro?)" />
                                    <label for="origem">Origem (Qual o país do cachorro?)</label>
                                </div>
                                <!-- Porte input-->
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Selecione o porte do animal">
                                        <option selected>Buscar pelo Porte</option>
                                        <option value="small">Pequeno</option>
                                        <option value="medium">Médio</option>
                                        <option value="big">Grande</option>
                                    </select>
                                </div>
                                <!-- Expectativa de vida input-->
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Selecione a expectativa de vida do animal">
                                        <option selected>Buscar pela Expectativa de Vida esperada para o seu dog</option>
                                        <option value="less10">até 10 anos</option>
                                        <option value="between10and15">entre 10 e 15 anos</option>
                                        <option value="between15and20">entre 15 e 20 anos</option>
                                        <option value="more20">mais de 20 anos</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <div>Marque as características que procura num cachorro. Pode marcar mais de uma.</div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="docil" id="docil">
                                                    <label class="form-check-label" for="docil">
                                                        Dócil
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="amigavel" id="amigavel">
                                                    <label class="form-check-label" for="amigavel">
                                                        Amigável
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="peludo" id="peludo">
                                                    <label class="form-check-label" for="peludo">
                                                        Peludo
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="calmo" id="calmo">
                                                    <label class="form-check-label" for="calmo">
                                                        Calmo
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cao_caca" id="cao_caca">
                                                    <label class="form-check-label" for="cao_caca">
                                                        Cão de Caça
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cao_guia" id="cao_guia">
                                                    <label class="form-check-label" for="cao_guia">
                                                        Cão Guia
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <a class="btn btn-primary btn-lg"
                                        href="racas-encontradas.blade.html">Procurar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact cards-->
                <!--<div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                            <div class="h5 mb-2">Chat with us</div>
                            <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                            <div class="h5">Ask the community</div>
                            <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                            <div class="h5">Support center</div>
                            <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                            <div class="h5">Call us</div>
                            <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
                        </div>
                    </div>-->
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Wiki Dog 2021</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../public/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
